<table class="table table-bordered table-striped table-responsive"
 *ngIf="getStdArr.length > 0; else noStdData"
>
    <thead>
        <tr>
            <th>Sr. No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr
        *ngFor="let std of getStdArr; index as i"
        >
            <td>{{i + 1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
        </tr>
    </tbody>
</table>

<ng-template #noStdData>
    <p class="alert alert-danger">No Student Data Added Yet !!!</p>
</ng-template>